{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
        },
    },
    "rules": {
        "array-bracket-spacing": ["warn", "never"],
        "brace-style": "warn",
        "camelcase": ["warn", {"properties": "never"}],
        "comma-dangle": ["off"],
        "comma-spacing": ["warn", {"before": false, "after": true}],
        "curly": ["warn"],
        "no-debugger": ["warn"],
        "eol-last": ["error"],
        "eqeqeq": ["warn", "smart"],
        "indent": ["off", 4, {"SwitchCase": 1}],
        "key-spacing": ["warn"],
        "keyword-spacing": ["warn"],
        "linebreak-style": ["error", "unix"],
        "no-console": ["warn", {"allow": ["warn", "error"]}],
        "no-empty": ["warn"],
        "no-multi-spaces": ["warn"],
        "no-redeclare": ["warn"],
        "no-trailing-spaces": ["warn"],
        "no-unused-vars": ["warn", {"args": "none"}],
        "no-use-before-define": ["warn", "nofunc"],
        "object-curly-spacing": ["warn", "never"],
        "quotes": ["off", "double"],
        "semi-spacing": ["warn", {"before": false, "after": true}],
        "semi": ["error", "always"],
        "space-before-blocks": ["warn"],
        "space-before-function-paren": ["warn", {"anonymous": "always", "named": "never"}],
        "space-in-parens": ["warn", "never"],
        "space-infix-ops": ["warn"],
    },
    "globals": {
        "_": false,
        "$": false,
        "ace": false,
        "CKEDITOR": true,
        "ClipboardJS": false,
        "d3": false,
        "gapi": false,
        "google": false,
        "Gravitec": false,
        "jQuery": false,
        "jstz": false,
        "moment": false,
        "navigator": false,
        "nv": false,
        "odoo": true,
        "OneSignal": false,
        "openerp": true,
        "PDFJS": false,
        "py": false,
        "QUnit": false,
        "ZeroClipboard": false,
    },
}
